# -------- Kafka --------
KAFKA_BROKER="host.docker.internal:9092"
KAFKA_TOPIC="transacoes"
KAFKA_GROUP_ID="grupo-transacoes"

# -------- Database --------
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="user"
DB_PASSWORD="password"
DB_NAME="finance"

# -------- Redis --------
REDIS_HOST="localhost:6379"
REDIS_DB="0"

# -------- API --------
API_PORT="8080"
JWT_SECRET="seccret"

# -------- Tron --------
TRON_FROM_ADDR=
TRON_URL=
TRON_PRIVATE_KEY=