# .env.example

# -------- Kafka --------
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=transacoes
KAFKA_GROUP_ID=grupo-transacoes

# -------- Database --------
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=financial_db

# -------- API --------
API_PORT=8080
JWT_SECRET=your_jwt_secret